@import "../../sass/vars";

.header-holder {
  @include flex-row();
  height: 10vh;
  background-color: $header;
}

.header-title {
  @include flex-row();
}

.title-two {
  color: $primary;
}

@media (min-width: $breakpoint-tablet) {
}
